.photo-grid {
    max-width: 1184px;
    min-height: 671px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
    gap: 16px;
    box-sizing: content-box;
}

@media screen and (max-width:1120px) {
    .photo-grid {
        max-width: 928px;
        min-height: 942px;
        gap: 14px;
    }
}

@media screen and (max-width:880px) {
    .photo-grid {
        max-width: 720px;
        min-height: 1664px;
        gap: 16px;
    }
}

@media screen and (max-width:450px) {
    .photo-grid {
        max-width: 288px;
        min-height: 2724px;
        gap: 12px;
    }
}