.photo-grid__item {
    object-fit: cover;
    max-width: 284px;
    box-sizing: content-box;
}


@media screen and (max-width:1120px) {
    .photo-grid__item {
        max-width: 300px;
    }
}

@media screen and (max-width:880px) {
    .photo-grid__item {
        max-width: 352px;
    }
}

@media screen and (max-width:450px) {
    .photo-grid__item {
        max-width: 288px;
    }
}