.content {
    display: grid;
    box-sizing: border-box;
    grid-row-gap: 92px;
}

@media screen and (max-width:880px) {
    .content {
        grid-row-gap: 88px;
    }
}

@media screen and (max-width:450px) {
    .content {
        grid-row-gap: 64px;
    }
}