.content__photo-grid {
    margin: 0 auto;
}


@media screen and (max-width:880px) {
    .content__photo-grid {
        margin-left: 24px;
        margin-right: 24px;
    }
}

@media screen and (max-width:450px) {
    .content__photo-grid {
        margin-left: 16px;
        margin-right: 16px;
    }
}