.content__intro {
    padding: 0 148px;
    max-width: 984px;
}

@media screen and (max-width:1120px) {
    .content__intro {
        padding-left: 48px;
        padding-right: 48px;
        max-width: 690px;
    }
}

@media screen and (max-width:880px) {
    .content__intro {
        padding-left: 24px;
        padding-right: 24px;
        max-width: 720px;
    }
}

@media screen and (max-width:450px) {
    .content__intro {
        padding-left: 16px;
        padding-right: 16px;
        max-width: 288px;
    }
}