.cover {
    background-image: url('../../images/cover-trains.jpg');
    max-width: 1184px;
    min-height: 740px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    width: 100%;
}

@media screen and (max-width:1120px) {
    .cover {
        max-width: 1024px;
        min-height: 640px;
    }
}

@media screen and (max-width:880px) {
    .cover {
        max-width: 768px;
        min-height: 480px;
    }
}

@media screen and (max-width:450px) {
    .cover {
        max-width: 320px;
        min-height: 200px;
    }
}