.cover__background {
    text-decoration: none;
}

.cover__background::before {
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #2A2C2F;
    opacity: .3;
    transition: .3s ease;
}

.cover__background:hover::before {
    opacity: .8;
}

