.cover__background {
    display: block;
    margin: 0;
    padding: 0;
    width: 1184px;
    height: 740px;
    text-decoration: none;
    background-image: url('../../../images/cover-trains.jpg');
    background-repeat: repeat;
    background-position: center;
    background-size: cover;
}

.cover__background::before {
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #2A2C2F;
    opacity: .3;
    transition: .3s ease;
}

.cover__background:hover::before {
    opacity: .8;
}


@media screen and (max-width:1120px) {
    .cover__background {
        max-width: 1024px;
        max-height: 640px;
    }
}

@media screen and (max-width:880px) {
    .cover__background {
        max-width: 768px;
        max-height: 480px;
    }
}

@media screen and (max-width:450px) {
    .cover__background {
        max-width: 320px;
        max-height: 200px;
    }
}