.place__website {
    grid-column: 2/3;
    grid-row: 1/2;
    align-self: flex-end;
}


@media screen and (max-width:450px) {
    .place__website {
        grid-column: 1;
        grid-row: 2;
        margin-left: 16px;
    }
}