.content__lead {
    margin: 56px auto 0;
    box-sizing: border-box;
    max-width: 984px;
}

@media screen and (max-width:1120px) {
    .content__lead {
        max-width: 928px;
        margin-top: 48px;
    }
}

@media screen and (max-width:880px) {
    .content__lead {
        max-width: 768px;
    }
}

@media screen and (max-width:450px) {
    .content__lead {
        max-width: 320px;
    }
}